.gradle/
.idea/
logs/
run/
*.zip

*.py
scratch/
build/classes
build/generated
build/loom-cache
build/processIncludeJars
build/reports
build/resources
build/tmp
build/libs/prisma-22092026-0.2.2-revision3-sources - cópia
build/libs/prisma-23092026-0.2.2-revision4-sources - cópia
build/libs/*.zip
build
build/libs/*-sources.jar
*.py
*.class
*.txt
cfr.jar
TestJOML.java
run.log
scratch.metal

shaderpack-template/
